.subjects {

  img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;

  }
  &__img {
    overflow: hidden;
    height: 134px;
    background: #ddd;
  }

  &__item {
    width: 100%;
    min-height: 260px;
    border: solid 1px #b5b5b5;
    border-radius: 10px;
    background: #fff;
    overflow: hidden;
  }

  &__info {
    padding: 10px 16px;
  }

  &__more {
    margin-top: 15px;
    font-size: 12px;
    font-weight: 600;

    > a {
      text-decoration: none;
      color: #00c1ff;

      &:hover {

      }
    }
  }

  &__genre {
    font-size: 11px;
  }

  &__btn {
    margin-top: 10px;
    padding: .4em .1em;
    border-radius: 6px;
    background: #00c1ff;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: #02b0e5;
    }

    > a {
      text-decoration: none;
      color: #fff;
    }
  }

}

.MuiFormControl-root {
  width: 100%;
}



